body {
  background: url(https://img.freepik.com/photos-gratuite/textures-herbe-verte_74190-5443.jpg?t=st=1657706451~exp=1657707051~hmac=45c57880e1899b8c2aad2287c051908347b9875fb7ed558760290ac726080385&w=1380);
}

.card{
  width: 49%;
}
.card:nth-child(odd) {
  margin-right: 1%;
}

.counter{
  position: fixed;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 58px 32px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 58px 32px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 58px 32px rgba(0,0,0,0.75);
}

@media screen and (max-width: 992px) {
  section {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .mobile {
    flex-direction: column;
  }
}